h1 {
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.centering {
    text-align: center;
} 

#digits {
    text-align: center; 
    font-style: italic; 
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

button{ 
    margin: 5px 3px 10px 5px; 
    padding: 5px 10px;
    border-radius: 7px;
    background-color: rgb(50, 122, 204); 
    font-size: 20px; 
  

} 

body { 
    background-color: orchid;
    font-size: 60px; 
   
    background-image: url(stopwatch-8-gif-download-stopwatch-gif-animation.gif);
} 

button:active {
    background-color: blue;
}
button:disabled {
    background-color: cyan;
}

#lapList1{
    text-align: center;
    background-color: lightgrey;
    border-radius: 8px;
    max-width: 300px;
    margin: auto; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}